body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#pongCanvas {
  border: 1px solid black;
  margin-top: 20px;
  display: none;
  background-color: rgb(20, 20, 20);
}

#gameOverMessage {
  display: none;
  margin-top: 20px;
  font-size: 24px;
}

.text{
  
}

#startButton,
#restartButton {
  background-color: rgb(0, 162, 255);
  border: 1px solid black;
  display: block;
  border-radius: 12px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
}
